<?xml version="1.0"?>

<model>
  <name>octa_coax_with_ardupilot</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Leonardo Farconi</name>
    <email>leonardo.farconi@gmail.com</email>
  </author>


  <description>
    starting with octa_coax
    add LiftDragPlugin
    add ArduCopterPlugin
    attach gimbal_small_2d model with GimbalSmall2dPlugin
  </description>
  <depend>
    <model>
      <uri>model://gimbal_small_2d</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://octa_coax_no_ardupilot</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
