<?xml version="1.0"?>

<model>
  <name>octa_coax_no_ardupilot</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Leonardo Farconi</name>
    <email>leonardo.farconi@gmail.com</email>
  </author>

  <description>
    A rendering of a 6kg coaxial octacopter
  </description>
</model>
